.gallery {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(2, 213px);
  gap: 16px;
  margin: 50px auto auto auto;
}
.gallery__photo {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 320px) and (max-width: 544px) {
  .gallery {
    max-width: 288px;
    grid-template-columns: 288px;
    gap: 8px;
    margin: auto;
  }
  .gallery__photo {
    width: 288px;
    height: 216px;
  }
}

@media screen and (min-width: 545px) and (max-width: 768px) {
  .gallery {
    min-width: 545px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 264px);
    gap: 5px;
  }
  .gallery__photo {
    max-width: 768px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1185px) {
  .gallery {
    min-width: 769px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
  }
}
