.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__logo {
  max-width: 254px;
  height: 68.94px;
}
.header__title {
  text-align: center;
  font-size: 96px;
  max-width: 720px;
  max-height: 200px;
}
.header__subtitle {
  text-align: center;
  font-size: 30px;
  max-width: 720px;
  height: 72px;
}
