.places {
  display: grid;
  grid-template-columns: repeat(2, 493px);
  grid-template-rows: auto;
  grid-template-areas:
    "title artist"
    "image author"
    "button text";
}
.places__item-title {
  grid-area: title;
}
.places__item-image {
  grid-area: image;
}
.places__item-button {
  grid-area: button;
}
.places__item-artist {
  grid-area: artist;
}
.places__item-author {
  grid-area: author;
}
.places__item-pharagraphs {
  grid-area: text;
}
